$include-html-classes: false;

@import "main";

body.grid {
  position: relative;
}

body.grid:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background: url(http://basehold.it/image.php?height=21.875) repeat top left;
  //background: url(http://basehold.it/image.php?height=35) repeat top left;
}

body.grid:active:after {
  display: none;
}