@import "normalize";

@import "modular-scale/stylesheets/modular-scale";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$ms-base: 16px;
$ms-ratio: $golden;

@import "colors";

@import "type";

@import "components/app";
@import "components/navigation";
@import "components/frontpage";
@import "components/post";
@import "components/postpage";