@import "foundation/components/grid";

.navigation {
  @include grid-column($columns: 12, $collapse: false);
  background: #ffffff;
  nav {}
  nav, .brand {
    background: #ffffff;
    //TODO
    height: rem-calc(ms(3)) + type-nearest-baseline(ms(3));
    line-height: rem-calc(ms(3));
    margin: 0;
  }
  .brand {
    a {
      color: $color-accent-1;
      border: 0;
      &:hover {
        color: $color-accent-1-light;
        border: 0;
      }
    }
  }
}