@import "foundation/components/grid";

.post-list {
  @include grid-row($behavior: nest-collapse);
}

.post-list-item {
  @include grid-column($columns: 12, $collapse: true);
  @media #{$medium-up} {
    @include grid-column($columns: 6, $collapse: false);
  }
}

.post-list-item-image {
  @include grid-column($columns: 12, $collapse: true);
  display: block;
  height: rem-calc(ms(6)) + type-nearest-baseline(ms(6));
  //  padding: 0 0 type-nearest-baseline(ms(6)) / 2 0;
  margin: 0 0 type-nearest-baseline(ms(6)) / 2 0;
  position: relative;
  //@include type-baseline(ms(6), $margin-dir: bottom);
  background-size: cover;
  background-position: 50% 25%;
  background-image: url("{{#image}}clementine.jpg{{/image}}");
}

.post-list-item-title {
  display: inline-block;
  //text-align: left;
  //margin: 0 rem-calc(ms(0));
  font-weight: normal;
  position: relative;
  a {
    display: inline-block;
    vertical-align: middle;
    line-height: rem-calc(ms($h2-font-size));
  }
  @media #{$medium-up} {
    height: ms(3);
    line-height: ms(3);
  }
}

$post-authorbox-height: ms(3);

.post-list-item-author {
  @include grid-row($behavior: nest-collapse);
  height: $post-authorbox-height;
  line-height: $post-authorbox-height;
  margin: 0 rem-calc(ms(0)) 0;
  text-align: left;
  border-bottom: 1px solid $color-accent-2;
  border-top: 1px solid $color-accent-2;
  @include type-baseline($post-authorbox-height, $margin-dir: bottom);
}

.post-list-item-author-name {
  @include grid-column($columns: 6, $last-column: false, $collapse: null);
  a {
    margin: 0 0 0 ms(1) / 2;
    font-family: $font-logo-family;
  }
}

.post-list-item-author-time {
  @include grid-column($columns: 4, $last-column: true, $collapse: null);
  color: $color-text-light;
}

.post-list-item-author-avatar {
  @include grid-column($columns: 2, $last-column: false, $collapse: null);
  height: $post-authorbox-height;
  span {
    background-position: 50% 50%;
    background-size: cover;
    margin-top: ms(1) / 2;
    width: ms(2);
    height: ms(2);
    display: block;
    border-radius: $post-authorbox-height;
  }
}

.post-list-item-body {
  @include grid-column($columns: 12, $collapse: true);
  text-align: center;
  height: rem-calc(ms(6));
  @media #{$medium-up} {
    height: rem-calc(ms(6));
  }
  @include type-baseline(ms(5), $margin-dir: bottom);
  p {
    margin: 0 rem-calc(ms(0));
    text-align: justify;
  }
}

.post-label {
  $padding: rem-calc(ms(0) / 2);
  $width: rem-calc(ms(5));
  &::before {
    position: absolute;
    z-index: -1;
    width: $width + $padding * 2;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    background: $color-accent-2;
    color: $color-white;
    opacity: .9;
  }
  color: $color-white;
  z-index: 1;
  font-size: ms(1);
  position: absolute;
  left: 50%;
  right: 50%;
  width: $width;
  padding: $padding;
  top: -($type-baseline / 2) + $padding;
  margin-left: -($width / 2);
  text-align: center;
  display: block;
}

.post {
  @include grid-column($columns: 12, $collapse: true);
}

.post-title {
  text-align: center;
  margin-bottom: rem-calc(ms(1));
}

.post-hero-image {
  @include grid-column($columns: 12, $collapse: true);
  div {
    @include grid-column($columns: 12, $collapse: true);
    display: block;
    height: rem-calc(ms(6));
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    @media #{$medium-up} {
      height: rem-calc(ms(7));
    }
  }
  @include type-baseline(ms(6), $margin-dir: bottom);
  @media #{$medium-up} {
    @include type-baseline(ms(7), $margin-dir: bottom);
  }
}

.post-body {
  @include grid-column($columns: 12, $collapse: false);
  @media #{$medium} {
    //@include grid-column($columns: 7, $collapse: false);
  }
  @media #{$large-up} {
    @include grid-column($columns: 8, $collapse: false);
  }
  p {}
}

.post-sidebar {
  display: none;
  @media #{$medium} {
    // @include grid-column($columns: 5, $collapse: false);
  }
  @media #{$large-up} {
    @include grid-column($columns: 4, $collapse: false);
    display: block;
  }
}

.post-footer {
  @include grid-column($columns: 12, $collapse: false);
}